.skills{
    padding-top: 40px;
    background: #F0F8FF;
  }

  .icon {
    font-size: 100px;
    color: #4070f4;
    margin-bottom: 5px;
  }
  
  .skills .content{
    width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;;
  }

  .skills .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .skills .title span{
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
  }
  .skills .title span::before,
  .skills .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #4070f4;
    left: 0;
    bottom: 0;
  }
  .skills .title span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  .skills .skills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .skills-details .text{
    width: 50%;
  }

  .skills  .topic{
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .skills-details p{
        text-align: justify;
        color: #0E2431;
        font-size: 23px;
  }
  .skills .skills-details .experience{
   display: flex;
   align-items: center;
   margin: 0 10px;
  }
  .skills-details .experience .num{
   color: #0E2431;
   font-size: 80px;
  }
  .skills-details .experience .exp{
   color: #0E2431;
   margin-left: 20px;
   font-size: 18px;
   font-weight: 500;
   margin: 0 6px;
  }
  .skills-details .boxes{
   width: 45%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
  }
  .skills-details .box{
   width: calc(100% / 2 - 20px);
   margin: 20px 0;
  }
  .skills-details .boxes .topic{
   font-size: 30px;
   color: #0E2431;
  }

  @media (max-width: 1190px) {
    .skils .content{
      width: 85%;
    }
  }

  @media (max-width: 750px) {
    .skills .skills-details{
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .skills-details .text{
      width: 100%;
      margin-bottom: 50px;
    }
    .skills-details .boxes{
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  
  @media (max-width: 500px){
    .skills-details .boxes .per{
      font-size: 50px;
      color: #4070f4;
    }
  }
  