.contact{
    background: #F0F8FF;
  }
  .contact .content{
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
  }
  .contact .text{
    width: 80%;
    text-align: center;
    margin: auto;
  }

  .contact .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .contact .title span{
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
  }
  .contact .title span::before,
  .contact .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #4070f4;
    left: 0;
    bottom: 0;
  }
  .contact .title span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  .contact  .topic{
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .contact .button{
    margin: 16px 0;
  }
  
  .contact .button a{
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: #4070f4;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .contact .button a:hover{
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
  }

  @media (max-width: 1190px) {
    .contact .content{
      width: 85%;
    }
  }